.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
   background-color: #242124;
}
.table {
   background: black;
}
#add-movie {
   background: black;
}
h1, th, button {
   font-family: monospace;
   font-weight: bolder;
   color: white;
}
h4 {
   font-family: monospace;
   font-weight: bolder;
   color: white;
}

button {
   color: black;
}

td {
   font-family: inherit;
   font-weight: bolder;
   color: white;
}
.movie-time {
   background: black;
   padding: 1em;
}
.movie-container > .row {
   overflow-x: auto;
   flex-wrap: nowrap;
   margin-bottom: 5em;
}
.image-container {
   position: relative;
   transition: transform 0.8s;
}
.image-container:hover {
   transform: scale(1.1);
}
input {
   transition: transform 0.7s;
}
input:hover {
   transition: transform 0.7s;
   transform: scale(1.05)
}
button {
   position: relative;
   transition: transform 0.7s;
}
button:hover {
   transition: transform 0.7s;
   transform: scale(1.2);
}
.image-container:hover .overlay {
   opacity: 1;
}
.overlay {
   position: absolute;
   background: rgba(0,0,0,0.3);
   height: 100%;
   width: 100%;
   transition: 0.8s ease;
   opacity: 0;
   bottom: 0;
   padding: 20px;
   text-align: center;
}
