.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
   background-image: url(https://img.freepik.com/free-photo/textured-red-background-with-subtle-screen-pattern-high-quality-texture-extremely-high-resolution_463999-296.jpg?w=1480)
}
.modal-content {
   background-image: url(https://img.freepik.com/free-photo/textured-red-background-with-subtle-screen-pattern-high-quality-texture-extremely-high-resolution_463999-296.jpg?w=1480)
}
.table {
   background: black;
}
#add-movie {
   background: black;
}
h1, th, button {
   font-family: monospace;
   font-weight: bolder;
   color: white;
}
h4 {
   font-family: monospace;
   font-weight: bolder;
}

button {
   color: black;
}

td {
   font-family: inherit;
   font-weight: bolder;
   color: white;
}
